<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer mode="side" opened class="sidenav">
    <div class="logo-container">LOGO</div>
    <ul>
      <li routerLink="/" routerActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li routerLink="/user" routerActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container"><router-outlet></router-outlet></div>
  </div>
</mat-drawer-container>
