<mat-card appearance="outlined">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    <tr>
      <td>Lars</td>
      <td>contact&#64;lars-schumacher.com</td>
      <td>Mönchengladbach</td>
    </tr>
    <tr>
      <td>Lars</td>
      <td>contact&#64;lars-schumacher.com</td>
      <td>Mönchengladbach</td>
    </tr>
  </table>
</mat-card>

<button
  mat-fab
  color="primary"
  matTooltip="Info about the action"
  matTooltipPosition="above"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
